html,body{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.box{
    width:350px;
    height:400px;
    border: 2px solid rgb(244, 76, 5);
    margin:auto;
    margin-top:7%;
    margin-right: 60%;
    background-color: rgba(249, 247, 246,0.5);
    border-radius: 15%;
}
body{
    background-image: url("./loginc5.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;    
}
.tex{
    margin-top: 13%;
    font-weight: bold;
    font-size: 20px;
    color:rgb(11, 11, 11);
}
.button{
    border-radius: 8px;
    background-color: rgb(244, 114, 9);
}
input{
    border: none; 
    border: 1px solid rgb(23, 24, 24); 
    border-radius: 8px;;
}
h1{
    margin-left: 7%;
}
